*{
    margin: 0;
    padding: 0;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.slider{
    height: 80vh;
}

.slider-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 2s linear;
}

#slider-container{
    display: flex;
    width: 100%;
    height: 100%;
    will-change: transform;
    transform: translateX(0);
}

.slider-element{
    width: 100%;
    flex-shrink: 0;
}

.slider-element img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrows{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 100px 0;
    top: -320px;
}

#leftArrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 15px;
    height: 15px;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5 linear;
    transition: opacity 0.2s linear;
}

#rightArrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 15px;
    height: 15px;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s linear;
}

.dots{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.dots span{
    position: relative;
    top: -100px;
    left: 510px;
    width: 20px;
    height: 20px;
    background-color: rgb(187, 186, 184);
    border-radius: 50%;
    opacity: 0.4;
    cursor: pointer;
}

.dots span:active{
    opacity: 1;
    background-color: red;
}